*
!/.tmux.conf
!/.gitignore
!/.tmux.conf.local
!/.tmux/.tmux.conf
!/.tmux/.tmux.conf.local
!/.tmuxp.conf
!/.tmuxp/*
!/.spacemacs
!/.zshrc
!/qmk_firmware/keyboards/xtips_x7s/keymaps/*
!/.doom.d/*
!/emacs-configs/spacemacs/config/*
!/.config/ranger/*
