/.cache/**
/.config/**
/.datasolution/**
/.emacs.d/**
/.git/**
/.lesshst
/.local/**
/.oh-my-zsh/
/.ssh/**
/.venv/*
/.z
/.zcompdump
/.zcompdump-DESKTOP-LIFI64M-5.9
/.zcompdump-DESKTOP-LIFI64M-5.9.zwc
/.zsh_history
!/.zshrc
/demo-06/**
/orgnotebk/**
/qmk/**
/qmk_firmware/
!/qmk_firmware/keyboards/xtips_x7s/keymaps/**
/snap/**
!~/emacs-configs/spacemacs/**
~/emacs-configs/doom-emacs/**