.cache/**
.config/**
.datasolution/**
.emacs.d/**
.git/**
.lesshst
.local/**
.oh-my-zsh/
.ssh/**
.venv/*
.z*
!.zshrc
demo-06/**
orgnotebk/**
qmk/**
qmk_firmware/**
!qmk_firmware/keyboards/xtips_x7s/keymaps/**
snap/**